<%-include('includes/header')%>
<link rel="stylesheet" href="/CSS/login.css" type="text/css">
<body>
    <form class="login_container" method="POST" action="/resto/sign-up" enctype="multipart/form-data">
        <div class="login_frame" style="width: 650px; height: 730px;">

            <div class="login_top">

                <span>Ro'yhatdan O'tish</span>

                <div>Bosh Sahifa qaytish 
                    <a href="/resto" style="color: #6440fb; text-decoration: none;">Home</a>
                </div>

                <p>Ro'yhatdan allaqachon o'tmagansiz?
                    <a href="/resto/login" style="color: #6440fb; text-decoration: none">Login</a>
                </p>

            </div>

            <!-- Name Phone Number -->
            <div class="sign_input_frame">

                <div class="sign_up_frame">
                    <label for="">Foydalanuvchining ismi</label>
                    <input 
                    type="text"
                    name="mb_nick"
                    placeholder="Foydalanuvchining ismi"
                    value=""
                    required
                    >
                </div>

                <div class="sign_up_frame">
                    <label for="">Telefon raqam</label>
                    <input 
                    type="text"
                    name="mb_phone"
                    placeholder="Telefon raqam"
                    value=""
                    required
                    >
                </div>

            </div>

            <!-- Password -->
            <div class="sign_input_frame">

                <div class="sign_up_frame">
                    <label for="">Password</label>
                    <input 
                    type="password"
                    name="mb_password"
                    placeholder="Passwordni kiriting"
                    value=""
                    required
                    >
                </div>

                <div class="sign_up_frame">
                    <label for="">Passwordni qayta kiriting</label>
                    <input 
                    type="password"
                    name="mb_confirm_password"
                    placeholder="Passwordni tasdiqlash"
                    value=""
                    required
                    >
                </div>

            </div>
            <!--Image File-->
            <div class="login_input_frame">
                <div class="media-frame">
                    <img src="/images/default_resto.jpg" class="upload_img_frame" alt="image">
                    <div class="upload_container">
                        <span class="media_text">Taom Rasmi</span>
                        <div class="filebox bs3-primary preview-image">
                            <input 
                            class="upload-name"
                            value="Rasmni tanlang"
                            disabled = "disabled"
                            >
                            <label for="input_file">Rasmni Yuklash</label>
                            <input 
                            class=" upload-hidden form-control-file restaurant_img"
                            type="file"
                            id="input_file"
                            name="restaurant_img"
                            />
                        </div>
                        <p class="thumbnail_desc">
                            Oshhona rasmingizni bu yerga yuklang.
                            <br>Muhim korsatmalar: .jpg, .jpeg, yoki .png. 
                            <br>rasmda matn yo'q bo'lishi darkor!
                        </p>
                    </div>
                </div>
            </div>
            <button class="login_btn btn" name="signup" type="submit">Ro'yhatdan o'tish</button>
        </div>
    </form>
</body>
<%-include('includes/footer')%>