<%-include('includes/header')%>
<link rel="stylesheet" href="/CSS/login.css" type="text/css">
<body>
    <form class="login_container" onsubmit="return validateSignUpForm()" method="POST" action="/resto/sign-up" enctype="multipart/form-data">
        <div class="login_frame" style="width: 650px; height: 730px;">

            <div class="login_top">

                <span>Ro'yhatdan O'tish</span>

                <div>Bosh Sahifa qaytish 
                    <a href="/resto" style="color: #6440fb; text-decoration: none;">Home</a>
                </div>

                <p>Ro'yhatdan allaqachon o'tmagansiz?
                    <a href="/resto/login" style="color: #6440fb; text-decoration: none">Login</a>
                </p>

            </div>

            <!-- Name Phone Number -->
            <div class="sign_input_frame">

                <div class="sign_up_frame">
                    <label for="">Foydalanuvchining ismi</label>
                    <input 
                    type="text"
                    name="mb_nick"
                    placeholder="Foydalanuvchining ismi"
                    class="mb_nick"
                    value=""
                    required
                    >
                </div>

                <div class="sign_up_frame">
                    <label for="">Telefon raqam</label>
                    <input 
                    type="text"
                    name="mb_phone"
                    placeholder="Telefon raqam"
                    class="mb_phone"
                    value=""
                    required
                    >
                </div>

            </div>

            <!-- Password -->
            <div class="sign_input_frame">

                <div class="sign_up_frame">
                    <label for="">Password</label>
                    <input 
                    type="password"
                    name="mb_password"
                    placeholder="Passwordni kiriting"
                    class="mb_password"
                    value=""
                    required
                    >
                </div>

                <div class="sign_up_frame">
                    <label for="">Passwordni qayta kiriting</label>
                    <input 
                    type="password"
                    name="mb_confirm_password"
                    class="mb_confirm_password"
                    placeholder="Passwordni tasdiqlash"
                    value=""
                    required
                    >
                </div>

            </div>
            <!--Image File-->
            <div class="login_input_frame">
                <div class="media-frame">
                    <img src="/images/default_resto.jpg" class="upload_img_frame" alt="image">
                    <div class="upload_container">
                        <span class="media_text">Taom Rasmi</span>
                        <div class="filebox bs3-primary preview-image">
                            <input 
                            class="upload-name"
                            value="Rasmni tanlang"
                            disabled = "disabled"
                            >
                            <label for="input_file">Rasmni Yuklash</label>
                            <input 
                            class=" upload-hidden form-control-file restaurant_img"
                            type="file"
                            id="input_file"
                            name="restaurant_img"
                            />
                        </div>
                        <p class="thumbnail_desc">
                            Oshhona rasmingizni bu yerga yuklang.
                            <br>Muhim korsatmalar: .jpg, .jpeg, yoki .png. 
                            <br>rasmda matn yo'q bo'lishi darkor!
                        </p>
                    </div>
                </div>
            </div>
            <button class="login_btn btn" name="signup" type="submit">Ro'yhatdan o'tish</button>
        </div>
    </form>
</body>
<script>
$(function () {
  let fileTarget = $(".filebox .upload-hidden");
  let filename = " ";
  fileTarget.on("change", function () {
    if (window.FileReader) {
      const uploading_file = $(this)[0].files[0];
      const fileType = uploading_file["type"];
      const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
      if (!validImageTypes.includes(fileType)) {
        alert(
          "Iltimos ruhsat etilgan formatdagi rasmlarni yuklang: jpg, jpeg va png!"
        );
      } else {
        if (uploading_file) {
          console.log(URL.createObjectURL(uploading_file));
          $(".upload_img_frame")
            .attr("src", URL.createObjectURL(uploading_file))
            .addClass("success");
        }
        filename = $(this)[0].files[0].name;
      }
    }

    $(this).siblings(".upload-name").val(filename);
  });
});

function validateSignUpForm() {
  const mb_nick = $(".mb_nick").val();
  const mb_password = $(".mb_password").val();
  const mb_phone = $(".mb_phone").val();
  const mb_confirm_password = $(".mb_confirm_password").val();
  const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

  if (
    mb_nick == "" ||
    mb_password == "" ||
    mb_phone == "" ||
    mb_confirm_password == ""
  ) {
    alert("Iltimos hamma so'ro'vlarni to'ldiring!");
    return false;
  } else if (mb_password !== mb_confirm_password) {
    alert(`iltimos passwordni qaytadan to'g'ri kiriting!`);
    return false;
  }

  if (!restaurant_img) {
    alert("Iltimos rasmni yuklang!");
    return false;
  }
  return true;
}
</script>
<%-include('includes/footer')%>